system:
  env: public
  addr: 80
  db-type: mysql
  oss-type: local
  use-multipoint: false
  use-redis: true
  iplimit-count: 15000
  iplimit-time: 3600
  debug: true
  domain: ""
zap:
  level: info
  prefix: ""
  format: console
  director: log
  encode-level: LowercaseColorLevelEncoder
  stacktrace-key: stacktrace
  max-age: 0
  show-line: true
  log-in-console: true
db-list:
  - disable: false
    type: "mysql"
    alias-name: ""
    path: 
    port: "3306"
    config: charset=utf8mb4&parseTime=True&loc=Local
    db-name: 
    username: 
    password: 
    max-idle-conns: 10
    max-open-conns: 100
    log-mode: error
    log-zap: false
  - disable: false
    type: "sqlserver"
    alias-name: ""
    path: 
    port: "6001"
    config: encrypt=disable
    db-name:
    username:
    password:
    max-idle-conns: 10
    max-open-conns: 100
    log-mode: error
    log-zap: false
mysql:
  path: 
  port: "3306"
  config: charset=utf8mb4&parseTime=True&loc=Local
  db-name: 
  username: 
  password: 
  max-idle-conns: 10
  max-open-conns: 100
  log-mode: error
  log-zap: false
sqlserver:
  path: ""
  port: ""
  config: ""
  db-name: ""
  username: ""
  password: ""
  max-idle-conns: 10
  max-open-conns: 100
  log-mode: ""
  log-zap: false